<div class="card">
    <div class="card-header">
        {{pageTitle}}
    </div>

    <div class="card-body">
        <form novalidate (ngSubmit)="saveFurniture()" [formGroup]="furnitureForm">

            <div class="form-group row mb-2">
                <label class="col-md-2 col-form-label" for="furnitureNameId">Furniture Name</label>
                <div class="col-md-8">
                    <input class="form-control" id="furnitureNameId" type="text" placeholder="Name (required)"
                        formControlName="name" name="name" />
                </div>
            </div>

            <div class="form-group row mb-2">
                <label class="col-md-2 col-form-label" for="ratingId">Rating (1-5)</label>

                <div class="col-md-8">
                    <input class="form-control" id="ratingId" type="text" placeholder="Rating (1-5)"
                        formControlName="rating" name="rating" />
                </div>
            </div>

            <div class="form-group row mb-2">
                <label class="col-md-2 col-form-label" for="shortdescriptionId">Short description</label>

                <div class="col-md-8">
                    <textarea class="form-control" id="shortDescriptionId" placeholder="Short Description" rows=3
                        formControlName="shortDescription" name="shortDescription"></textarea>
                </div>
            </div>

            <div class="form-group row mb-2">
                <label class="col-md-2 col-form-label" for="descriptionId">Description</label>

                <div class="col-md-8">
                    <textarea class="form-control" id="descriptionId" placeholder="Description" rows=3
                        formControlName="description" name="description"></textarea>
                </div>
            </div>

            <div class="form-group row mb-2">
                <label class="col-md-2 col-form-label" for="filamentoId">Filamento</label>

                <div class="col-md-8">
                    <input class="form-control" id="filamentoId" placeholder="Filamento" formControlName="filamento"
                        name="filamento" />
                </div>
            </div>

            <div class="form-group row mb-2">
                <label class="col-md-2 col-form-label" for="tamañoId">Tamaño</label>

                <div class="col-md-8">
                    <input class="form-control" id="tamañoId" placeholder="Tamaño" formControlName="tamaño"
                        name="tamaño" />
                </div>
            </div>

            <div class="form-group row mb-2">
                <label class="col-md-2 col-form-label" for="colorId">Color</label>

                <div class="col-md-8">
                    <input class="form-control" id="colorId" placeholder="Color" formControlName="color" name="color" />
                </div>
            </div>

            <div class="form-group row mb-2">
                <label class="col-md-2 col-form-label" for="materialId">Material</label>

                <div class="col-md-8">
                    <input class="form-control" id="materialId" placeholder="Material" formControlName="material"
                        name="material" />
                </div>
            </div>

            <div class="form-group row mb-2">
                <label class="col-md-2 col-form-label" for="ratingId">Rating (1-5)</label>

                <div class="col-md-8">
                    <input class="form-control" id="ratingId" placeholder="Rating (1-5)" formControlName="rating"
                        name="rating" />
                </div>
            </div>

            <div class="form-group row mb-2">
                <label class="col-md-2 col-form-label" for="categoriesId">Categories</label>

                <div class="col-md-8">
                    <input class="form-control" id="categoriesId" placeholder="Categories" formControlName="categories"
                        name="categories" />
                </div>
            </div>

            <div class="form-group row mb-2">
                <label class="col-md-2 col-form-label" for="imageId">Image</label>

                <div class="col-md-8">
                    <input class="form-control" id="imageId" placeholder="Image" formControlName="image" name="image" />
                </div>
            </div>

            <div class="form-group row mb-2">
                <div class="offset-md-2 col-md-4">
                    <button class="btn btn-primary mr-3" type="submit">
                        Save
                    </button>
                    <button class="btn btn-outline-secondary mr-3" type="button" title="Cancel your furniture"
                        [routerLink]="['']">
                        Cancel
                    </button>
                </div>
            </div>
        </form>
    </div>

    <div class="alert alert-danger" *ngIf="errorMessage">{{errorMessage}}
    </div>
</div>
<!-- <button class="btn btn-outline-secondary mr-3" type="button" title="Cancel your furniture" [routerLink]="['']">
    Cancel
</button> -->