<figure class="figure">
    <img src="https://picsum.photos/820/300" class="figure-img img-fluid rounded">
    <figcaption class="figure-caption">
      <h4>Title: {{furniture.name}}</h4>
      <h5>Price: {{furniture.price | currency}}</h5>
      <h5>Description: {{furniture.description}}</h5>
      <h5>Filamento: {{furniture.filamento}}</h5>
      <h5>Material: {{furniture.material}}</h5>
      <h5>Tamaño: {{furniture.tamaño}}</h5>
      <h5>Color: {{furniture.color}}</h5>
      <h5>Rating: {{furniture.rating}}</h5>
      <h5>Categories: {{categoriesList}}</h5>
    </figcaption>
  </figure>

  <div class="row mt-4">
    <div class="col-md-4">
      <button class="btn btn-outline-secondary mr-3"
              style="width:80px"
              (click)="onBack()">
        <i class="fa fa-chevron-left"></i> Back
      </button>
      <button class="btn btn-outline-primary"
              style="width:80px"
              (click)="goEdit()">
        Edit
      </button>
    </div>
  </div>
